<!DOCTYPE html>
<html>

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" charset="utf-8">
    <link href="./style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Raleway" rel="stylesheet">
    <title>$title$</title>

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@GoverRashad" />
    <meta property="twitter:title" content="rashadのblog - $title$"/>
    <meta name="twitter:description" content="$description$" />
    <meta name="twitter:image:src" content="https://rashadg1030.github.io/img/education-graphing.jpg" />
    <meta property="og:title" content="rashadのblog - $title$" />
    <meta property="og:description" content="$description$" />
    <meta property="og:site_name" content="rashadのblog" />
    <meta property="og:image" content="https://rashadg1030.github.io/img/education-graphing.jpg" />
</head>

<body>
    <div class="navbar"><a href="./index.html" class="navbar-item">data Rashad</a><span> = </span><a
            href="./software.html" class="navbar-item">Software</a><span> | </span><a href="./research.html"
            class="navbar-item">Research</a><span> | </span><a href="./library.html"
            class="navbar-item">Library</a><span> | </span><a href="./art.html" class="navbar-item">Art</a><span> |
        </span><a href="./contact.html" class="navbar-item">Contact {..}</a></div>
    <div class="main">
        <h1 class=post-title>$title$</h1>
        <p class=post-date>$date$</p>
        <hr>
$body$
    </div>
    <!-- <div class="footer">
        <hr>
        <p>This is a footer.</p>
    </div> -->

</body>

</html>