* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.main {
    padding: 0.5em;
}

.navbar {
    padding: 0.5em;
}

.navbar-item {
    text-decoration: none;
    color: black;
    padding: 0.25em;
}

.navbar-item:hover {
    color: white;
    background-color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
    border-top: 2px solid black;
}