* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1.6;
}

h1 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}



a:hover {
    background-color: black;
    color: white;
}

.main {
    padding: 0.5em;
}

.navbar {
    padding: 0.5em;
}

.navbar-item {
    padding: 0.25em;
}

.post-item {
    list-style-type: none;
    margin: 0.75em;
    float: left;
}

.post-item > * {
    padding: 0.25em;
}

.post-item-link {
    font-style: italic;
}

/* .contact-info {
    font-size: 1.25em;
} */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
}