* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.1rem;
    line-height: 1.6;
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: black;
    color: white;
}

.main {
    padding: 0.5rem;
}

.navbar {
    padding: 0.5rem;
}

.navbar-item {
    padding: 0.25rem;
}

.post-item {
    list-style-type: none;
    margin: 0.75rem;
    float: left;
}

.post-item > * {
    padding: 0.25rem;
}

.post-item-link {
    font-style: italic;
}